/* ziele Auf Alba Style */
/* #338193 #4c899b #6794a5 #5e93ad */
/* Allgemeine Elemente */
h1 {
    color: #fff;
}


/* Header */
#header {
    background-color: #4c899b;
}

.title-line {
    margin-top: 5rem;
    font-family: "Merriweather+Sans";
    font-weight: 800;
    font-size: 3.5rem;
}

.title-text-2 {
    margin: 1rem 0 0 3rem;
}

.navbar {
    padding: 8px 30px;
}

.navbar-brand{
    font-family: "Homemade Apple";
    font-size: 3.5rem;
}

.header-content {
    padding: 2% 7% 0;
}

.container-fluid {
    padding: 2% 15% 0;
}

.bowl-image {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: 1;
    margin: 0 5% 0;
    transform-origin: bottom;
    width: 90%;
}
.bounce {
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-25px); }
    50%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}

/* Features */

#features{
    margin: 3% 15%;
    text-align: center;
} 

.feature-box{
    padding: 5%;
}

.feature-icon{
    color: #519ecf ;
    font-size: 3rem;
    margin-bottom: 3%;
}

.feature-icon:hover{
    color: #4c899b;
}

.places {
    text-decoration: none;
    color: #519ecf;
}

.places:hover{
    color: #4c899b;
}