<footer class="white-section container-row" id="footer">
  <div class="container-row row">
    <div class="col align-self-center">
      <a
        class="col-lg-3 col-md-3"
        href="https://t.me/linsenspross"
        target="”_blank”"
        ><span class="foot-ico fa-brands fa-telegram"></span
      ></a>
      <a
        class="col-lg-3 col-md-3"
        href="https://www.instagram.com/linsenspross/"
        target="”_blank”"
        ><span class="foot-ico fa-brands fa-instagram"></span
      ></a>
      <a class="col-lg-3 col-md-3" href="mailto:info@linsenspross.de" target="”_blank”"
        ><span class="foot-ico fa-solid fa-envelope"></span
      ></a>
    </div>
    <a href="/impressum" class="foot-imp col-12">Impressum</a>
  </div>
</footer>
</body>
</html>