<footer class="white-section container-row" id="footer">
    <div class="container-row row">
      <div class="col align-self-center">
        <a class="col-lg-3 col-md-3" href="" target="”_blank”"
          ><span class="foot-ico fa-brands fa-facebook"></span
        ></a>
        <a
          class="col-lg-3 col-md-3"
          href="https://www.instagram.com/linsenspross/"
          target="”_blank”"
          ><span class="foot-ico fa-brands fa-instagram"></span
        ></a>
        <a class="col-lg-3 col-md-3" href="" target="”_blank”"
          ><span class="foot-ico fa-solid fa-envelope"></span
        ></a>
      </div>

      <p>© Copyright Linsenspross</p>
    </div>
  </footer>
</body>
</html>