<%- include('partials/header')%>
<section id="parallax">
  <div class="row parallax-inner">
    <h1 class="cal-text text-center">
      Als die Linse beschloß zu sprießen...
    </h1>

    <div class="about-row card mb-5 col-10 offset-1">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-md-3 col-lg-3 col-12-sm">
            <img
              src="images/LinsenSprossGesamt.PNG"
              alt="LinsenSprossGesamt"
              class="pic pic-left"
            />
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 py-2">
            <p>
              Wir sind Linsenspross. Begonnen hat es mit dem ersten
              erhältlichen Corona Selbsttest. Nachdem wir einen Tag zusammen
              in der Natur waren, wollten wir es nutzen sicher negativ zu
              sein und haben den Abend und die Nacht in Cornelius Küche
              verbracht. Hier fiel der Entschluss gemeinsam ein
              Gastrounternehmen zu gründen und drei Tage später hielt
              Cornelius eine Powerpointpräsentation über Finanzierung, unser
              Produkt und unsere Vermarktung. Im Sommer 21 gingen unsere
              ersten GoodLifeBowls über die Lastenradtheke und im zu kalten
              Winter hieß es dann erstmalig Dinner im Tapetenwerk
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="about-row card mb-5 col-10 offset-1">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-md-3 col-lg-3 col-12-sm order-md-last">
            <img
              src="images/Corny.PNG"
              alt="Cornelius"
              class="pic pic-right"
            />
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 py-2">
            <p>
              An der veganen Küche faszinieren mich die neuen Möglichkeiten
              die sich ergeben. Zum Beispiel, dass man aus einem
              vermeintlichen Abfallprodukt wie „Kichererbsenwasser“, auch
              Aquafaba genannt, ein köstliches Dessert wie Mousse au
              Chocolat zaubern kann. Selber ernähre ich mich auf einer
              Vollkostbasis mit hohen Anteilen an vegetarischen und veganen
              Gerichten. Daher können Jasper und ich im Zusammenspiel auch
              gut einschätzen, ob unsere Kreationen für ein breites Publikum
              zugänglich sind. Für mich ist LINSENSPROSS ein Ort an dem wir
              Neues ausprobieren und dann in kurzer Zeit auch so umsetzen
              können, dass es unsere Gäste begeistert. Bei LINSENSPROSS
              kochen wir ausschließlich vegan und ich finde es super, dass
              wir so alle mitnehmen und auch die eine oder den anderen von
              den Vorzügen veganer Speisen überzeugen können.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="about-row card col-10 offset-1">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-md-3 col-lg-3 col-12-sm">
            <img
              src="images/Jasper.PNG"
              alt="Jasper"
              class="pic pic-left"
            />
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 py-2">
            <p>
              Ich bin Jasper, Baujahr ‘94 und koche seit ich als Elfjähriger
              mittags meistens als erster zuhause war. Mit sieben hab ich
              meinen Eltern gesagt, dass ich kein Fleisch mehr essen möchte
              und 2015 bin ich komplett auf pflanzliche Ernährung
              umgestiegen. Bei Linsenspross liebe ich es die Menüs
              auszutüffteln, Cornelius mit meinen Ideen zu überrumpeln und
              bei unseren Dinnern den ganzen Tag in der Küche verbringen zu
              können.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('partials/footer')%>
