<%- include('partials/header')%>
<section id="parallax">
  <div class="row parallax-inner">
    <h1 class="cal-text text-center">Als die Linse beschloß zu sprießen...</h1>

    <div class="about-row card mb-5 col-10 offset-1">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-3">
            <img
              src="images/LinsenSprossGesamt.PNG"
              alt="LinsenSprossGesamt"
              class="pic pic-left"
            />
          </div>
          <div class="col-9">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="about-row card mb-5 col-10 offset-1">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-9">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </p>
          </div>
          <div class="col-3">
            <img src="images/Corny.PNG" alt="Cornelius" class="pic pic-right" />
          </div>
        </div>
      </div>
    </div>
    <div class="about-row card col-10 offset-1">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-3">
            <img src="images/Jasper.PNG" alt="Jasper" class="pic pic-left" />
          </div>
          <div class="col-9">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('partials/footer')%>
