<%- include('partials/header')%>
<!-- Parallax -->
<section id="parallax">
  <div class="row parallax-inner">
    <div
      class="col-xxl-5 offset-xxl-7 col-md-6 offset-md-3 offset-sm-1 contentframe"
    >
      <h1 class="cal-text">Lass uns in deinen Kalender!</h1>
      <iframe
        class="cal"
        src="https://calendar.google.com/calendar/embed?height=420&wkst=1&bgcolor=%234c899b&ctz=Europe%2FBerlin&showTitle=0&showDate=0&showNav=0&showTabs=1&showPrint=0&showCalendars=0&showTz=0&mode=MONTH&src=cWxxcmg2amN2bjRoOGpxNDN2b3ZjYjd1Mm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23E67C73"
        style="border: solid 1px #777"
        frameborder="0"
        scrolling="no"
      ></iframe>
    </div>
  </div>
</section>
<%- include('partials/footer')%>
