<%- include('partials/header')%>
<!-- Parallax -->
<section id="parallax">
  <div class="row parallax-inner">
    <h1 class="cal-text">Lass uns in deinen Kalender!</h1>
    <section id="date" class="container-row">
      <!-- start event block -->
      <div class="row align-items-center event-block no-gutters">
        <div class="col-lg-5 col-sm-12">
          <div class="position-relative">
            <img src="images/Dinner.PNG" class="dinner-pic" alt="Dinner" />
            <div class="events-date">
              <div class="font-size28">21</div>
              <div class="font-size14">Jan</div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-sm-12">
          <div class="date-text">
            <h5 class="title-date">Linsenspross Dinner</h5>
            <ul class="event-time margin-10px-bottom md-margin-5px-bottom">
              <li>
                <i class="far fa-clock event-ico"></i> 19:00 Uhr - 22:00 Uhr
              </li>
              <li>
                <i class="fa-solid fa-calendar-check event-ico"></i>
                Veranstaltung : Dinner
              </li>
            </ul>
            <p>
              Dich erwartet ein veganes 3-Gänge Menü. Wir versuchen dabei, die
              Gerichte so zu gestalten, dass sie möglichst saisonal, regional
              und Bio sind. Außerdem erwarten dich weitere Specials ;-)
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

<%- include('partials/footer')%>
