<%-include('partials/header')%>

    <!-- Parallax -->
    <section id="parallax">
        <div class="row parallax-inner" id="para-imp">
          <div class="col-md-6 col-sm-12 d-flex justify-content-center">
            <img
              src="images\Original_logo.jpg"
              class="img-fluid logo-img"
              alt="Logo"
            />
          </div>
          <div class="col-md-6 col-sm-12 text-center d-flex align-items-center">
            <div class="foot-impressum text-center">
              © Copyright Linsenspross GbR c/o <br />
              Cornelius Tute Endersstr. 45 04177 Leipzig
            </div>
          </div>
        </div>
      </section>
  
<%- include('partials/footer') %>
