<%-include('partials/header')%>
<!-- Cover -->
<div class="row header-content">
  <div class="col-lg-6 col-md-6 title-line">
    <h1 class="title-text-1">kreativ & bunt,</h1>
    <h1 class="title-text-2">weitgereist & lokal,</h1>
    <h1 class="title-text-3">natürlich & pflanzlich</h1>
  </div>
  <div class="col-lg-6 col-md-12 stage">
    <img
      class="bowl-image bounce"
      src="images\LinsensprossBowl.PNG"
      alt="LinsensprossBowl"
    />
  </div>
</div>

<!-- Features -->
<section id="features" class="container-row">
  <div class="row">
    <div class="col-lg-4 feature-box">
      <span class="fa-solid fa-utensils feature-icon mb-4"></span>
      <h3 class="mb-4">Dinner</h3>
      <p>
        Bei unseren Dinnern erwartet dich ein veganes 3-Gänge-Menü in
        wunderschöner Atmosphäre der
        <a href="https://goo.gl/maps/BGrrge5M2wUDuBTx5" class="places"
          >Rocky Maria</a
        >. Die Menüs werden für jede Veranstaltung neu konzipiert, bestehen
        größtenteils aus saisonalem Gemüse und schmecken nach der jeweiligen
        Jahreszeit. Die kommenden Termine findet ihr
        <a href="calender.html" class="places">hier</a>.
      </p>
    </div>
    <div class="col-lg-4 col-md-6 feature-box">
      <span class="fa-solid fa-bell feature-icon mb-4"></span>
      <h3 class="mb-4">Pop-Up Kitchen und Catering</h3>
      <p>
        Da wir zur Zeit keine eigene Gastroküche haben, über die wir frei
        verfügen, können wir Catering- oder Streetfoodanfragen zur Zeit nur im
        geringen Maß umsetzen. Meldet euch gerne bei uns mit eurer Anfrage und
        wir besprechen gemeinsam, ob wir das umsetzen können.
      </p>
    </div>
    <div class="col-lg-4 col-md-6 feature-box">
      <span class="fa-solid fa-carrot feature-icon mb-4"></span>
      <h3 class="mb-4">Küchenteam</h3>
      <p>
        (für Seminare/ Arbeitsphasen/ Freizeiten) Gerne fährt Jasper mit euch
        zum nächsten Seminar und übernimmt Planung und Kalkulation, Einkauf und
        natürlich das Kochen mit oder ohne neugierigen helfenden Händen.
      </p>
    </div>
  </div>
</section>
<!-- Slides -->
<section id="slides">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item container-row active">
        <img src="images/Heusellerie.PNG" class="slide-img" alt="Heusellerie" />
        <h2 class="slide-comment">
          "Das war sowas von lecker. Ich wusste gar nicht, dass Sellerie so
          schmecken kann. Das probiere ich zuhause auch mal."
        </h2>
        <em>Marco aß Heusellerie mit Grünteemayo</em>
      </div>
      <div class="carousel-item container-row">
        <img src="images/Kuerbisgnocci.PNG" class="slide-img" alt="Gnocci" />
        <h2 class="slide-comment">
          "Wie macht ihr denn die Kürbis-Gnocchi? Also ich komme nächstes mal
          definitiv wieder und bringe noch ein paar Freunde mit."
        </h2>
        <em>Tobias aß Kürbis-Gnocchi mit Feldsalatpesto</em>
      </div>
      <div class="carousel-item container-row">
        <img src="images/Bowl.PNG" class="slide-img" alt="BowlImg" />
        <h2 class="slide-comment">
          "Beste Bowl die man auf der Straße bekommen kann und die Zutaten
          schmecken wie frisch aus dem Garten!"
        </h2>
        <em>Franziska aß eine Goodlife Bowl</em>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</section>
<%- include('partials/footer') %>
