
       <%-include('partials/header')%>
       <!-- Cover -->
        <div class="row header-content">
          <div class="col-lg-6 col-md-6 title-line">
            <h1 class="title-text-1">Your Good Life Bowl -</h1>
            <h1 class="title-text-2">around the corner</h1>
          </div>
          <div class="col-lg-6 col-md-12 stage">
            <img
              class="bowl-image bounce"
              src="images\LinsensprossBowl.PNG"
              alt="LinsensprossBowl"
            />
          </div>
        </div>
      </div>
    

    <!-- Features -->
    <section id="features" class="container-row">
      <div class="row">
        <div class="col-lg-4 col-md-6 feature-box">
          <span class="fa-solid fa-carrot feature-icon"></span>
          <h3>Vegan</h3>
          <p>Unser frisches Gemüse kommt direkt vom Biohof aus der Umgebung.</p>
        </div>
        <div class="col-lg-4 col-md-6 feature-box">
          <span class="fa-solid fa-road feature-icon"></span>
          <h3>Streetfood</h3>
          <p>
            Auf den Straßen sind wir unterwegs. Ihr findet uns meistens im
            <a
              href="https://www.google.com/maps/place/Stadtteilpark+Rabet/@51.3443908,12.4011582,17z/data=!3m1!4b1!4m5!3m4!1s0x47a6f86a570f5cd5:0x85d1cacf4c8ffc26!8m2!3d51.3443908!4d12.4033469"
              class="places"
              >Rabet Leipzig</a
            >.
          </p>
        </div>
        <div class="col-lg-4 feature-box">
          <span class="fa-solid fa-utensils feature-icon"></span>
          <h3>Pop-Up Kitchen</h3>
          <p>
            Es bleibt spannend durch unsere ständig wechselnden Events. Stay
            tuned!
          </p>
        </div>
      </div>
    </section>
    <!-- Slides -->
    <section id="slides">
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item container-row active">
            <img src="images/Bowl.PNG" class="slide-img" alt="BowlImg" />
            <h2 class="slide-comment">
              "Beste Bowl die man auf der Straße bekommen kann und die Zutaten
              schmecken wie frisch aus dem Garten!"
            </h2>
            <em>Franziska aß eine Goodlife Bowl</em>
          </div>
          <div class="carousel-item container-row">
            <img
              src="images/Heusellerie.PNG"
              class="slide-img"
              alt="Heusellerie"
            />
            <h2 class="slide-comment">
              "Das war sowas von lecker. Ich wusste gar nicht, dass Sellerie so
              schmecken kann. Das probiere ich zuhause auch mal."
            </h2>
            <em>Marco aß Heusellerie mit Grünteemayo</em>
          </div>
          <div class="carousel-item container-row">
            <img
              src="images/Kuerbisgnocci.PNG"
              class="slide-img"
              alt="Gnocci"
            />
            <h2 class="slide-comment">
              "Wie macht ihr denn die Kürbis-Gnocchi? Also ich komme nächstes
              mal definitiv wieder."
            </h2>
            <em>Tobias aß Kürbis-Gnocchi mit Feldsalatpesto</em>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
    </section>
    <section id="date" class="container-row">
      <!-- start event block -->
      <div class="row align-items-center event-block no-gutters">
        <div class="col-lg-5 col-sm-12">
          <div class="position-relative">
            <img src="images/Dinner.PNG" class="dinner-pic" alt="Dinner" />
            <div class="events-date">
              <div class="font-size28">10</div>
              <div class="font-size14">Mar</div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-sm-12">
          <div class="date-text">
            <h5 class="title-date">Linsensprossdinner</h5>
            <ul class="event-time margin-10px-bottom md-margin-5px-bottom">
              <li>
                <i class="far fa-clock event-ico"></i> 18:00 Uhr - 20:30 Uhr
              </li>
              <li>
                <i class="fa-solid fa-calendar-check event-ico"></i>
                Veranstaltung : Dinner
              </li>
            </ul>
            <p>
              Duis autem vel eum iriure dolor in hendrerit in vulputate velit
              esse molestie consequat, vel illum dolore
            </p>
          </div>
        </div>
      </div>
    </section>
   <%- include('partials/footer') %>
